
<div class="bg-blue-700 w-full h-screen -skew-y-12 -mt-44 absolute">
   
</div>
<div class="max-w-7xl mx-auto relative">

    <div class="flex justify-between text-white py-5 items-center">
        <div class="">
            <a href="#" class="tracking-wider font-bold">Ask nicely</a>
        </div>
        <div>
            <a href="#" class="px-6 py-2 text-xs font-sans hover:border-b-2 hover:pb-5  font-semibold tracking-wide">Features</a>
            <a href="#" class="px-6 py-2 text-xs font-sans hover:border-b-2 hover:pb-5  font-semibold tracking-wide">Integrations</a>
            <a href="#" class="px-6 py-2 text-xs font-sans hover:border-b-2 hover:pb-5  font-semibold tracking-wide">Pricing</a>
            <a href="#" class="px-6 py-2 text-xs font-sans hover:border-b-2 hover:pb-5  font-semibold tracking-wide">Blog</a>
            <a href="#" class="px-6 py-2 text-xs font-sans hover:border-b-2 hover:pb-5  font-semibold tracking-wide">Login</a>
            <a href="#" class="px-4 py-2 text-xs font-sans bg-blue-600 rounded ml-2 font-semibold tracking-wide">Get Started</a>
        </div>
    </div>

</div>

<div class="relative max-w-7xl mx-auto">

    <div class="text-white flex">
        <div class="w-1/2">
            
            <div class="mt-28">
                <h6 class="text-sm font-light tracking-wide mb-4">Welcome to Ask nicely</h6>

                <h2 class="text-6xl font-semibold tracking-wide mb-4">We love to hear your feadback.</h2>

                <h6 class="text-sm font-light tracking-wide mb-16">NPS Software to help your business deliver greate customer experiences.</h6>
            </div> 

            <div>
                <input type="text" name="companyName" placeholder="Enter your company name" class="py-3 w-1/2 rounded outline-1 bg-transparent bg-blue-700 border-0 outline-none">

                <button class="bg-blue-800 py-3 px-4 rounded">Take a tour</button>
            </div>

            <div class="mt-44 ml-32 bg-white w-11 text-center rounded-full animate-bounce shadow-2xl">
                <button class="text-black py-2 px-3 ">-></button>
            </div>
        </div>
        <div class="w-1/2">
            <div>
                <img  src="assets/images/chatting.png" alt="hero-img" class="mt-10 ml-16"/>
            </div>
        </div>
    </div>

</div>
<app-content class="relative"></app-content>